<div class="container w-50">
  <div class="offcanvas-body">
    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Username:</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Email:</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Coins:</a>

        <div class="mx-auto">
          <button class="btn btn-dark w-100 mb-2" type="button">Cash In Now</button>
        </div>

        <div class="justify-content-center row">
          <div class=" col-6">

            <%= link_to 'Edit Profile', edit_profiles_path, class: "btn btn-dark w-100"%>
          </div>
          <div class=" col-6 ">
            <button class="btn btn-dark col-6 w-100" type="button">Address</button>
          </div>
        </div>
    </ul>
  </div>
</div>