<div class="container w-50" style="margin-top: 200px">
  <div class="offcanvas-body">
    <ul class="navbar-nav justify-content-end flex-grow-2 pe-5">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Username:</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Email:</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Coins:</a>

        <div class="mx-auto">
          <button class="btn btn-dark w-100 mb-2" type="button">Cash In Now</button>
        </div>

        <div class="justify-content-center row">
          <div class=" col-6">
            <%= link_to 'Edit Profile', edit_profiles_path, class: "btn btn-dark w-100" %>
          </div>
          <div class=" col-6 ">
            <%= link_to 'Address', addresses_path, class: "btn btn-dark w-100" %>
          </div>
        </div>
    </ul>
  </div>
</div>