<%= form_with(model: category, url: url, method: method, data: { turbo: false }) do |form| %>
  <div>
    <%= form.label :name %>

    <%= form.text_field :name %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

