<% if client_user_signed_in? %>
  <%= render 'layouts/client_header' %>
  <h2> Hello <%= current_client_user.email %> </h2>
  <%= link_to 'Sign out', destroy_client_user_session_path, data: { 'turbo-method': :delete } %>
<% else %>
  <%= link_to 'Sign in', new_client_user_session_path %>
<% end %>