<div class="container text-center mb-3" style="margin-top: 200px">
  <%= @promoter_link %>
  <%= @svg.html_safe %>
  <button class="btn btn-dark mt-5 w-75" type="button">Promoter's link</button>
</div>



