<nav class="navbar bg-body-secondary fixed-top">
  <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Homepage</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>

    <div class="dropdown-center mt-2">
      <button class="btn btn-dark w-100 dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Member Management
      </button>
      <ul class="dropdown-menu ms-auto">
        <li><a class="dropdown-item" href="#">User List</a></li>
        <li><a class="dropdown-item" href="#">Item List</a></li>
      </ul>
    </div>

    <div class="dropdown-center mt-2">
      <button class="btn btn-dark w-100 dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Example 2 Management
      </button>
      <ul class="dropdown-menu ms-auto">
        <li><a class="dropdown-item" href="#">Example 1</a></li>
        <li><a class="dropdown-item" href="#">Example 2</a></li>
      </ul>
    </div>
  </div>
  </div>
  </div>

  <div class="container-fluid">
    <button class="navbar-toggler border-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">System Management</a>
    <ul class="ms-auto me-auto pt-2">
      <a class="nav-item text-decoration-none text-black me-2" href="#">Change Language</a>
      <div class="btn-group">
        <button type="button" class="btn btn-primary">Username</button>
        <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
          <span class="visually-hidden">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Profile</a></li>
          <%= link_to 'Sign out', destroy_client_user_session_path, data: { 'turbo-method': :delete } %>
        </ul>
      </div>
    </ul>
  </div>
  </div>
</nav>